<div class="container">
  <div class="card-show my-3 py-5">
    <div class="row">
      <div class="col-md-6 text-center align-self-center">
      <% if auction.photos.attached? %>
        <%= cl_image_tag auction.photos.first.key, height: 300, width: 400, crop: :fill, class: 'img-show' %>
      <% end %>
      </div>
      <div class="col-md-6 info">
        <div class="row title">
          <div class="col">
            <h2><%= auction.name %></h2>
          </div>
        </div>
        <p><%= auction.description %></p>
        <button class="btn btn-lg btn-outline-primary"><%= "$ #{auction.min_price},00" %></button>
        <% if !auction.visible  && auction.user == current_user %>
          <%= link_to 'Edit Auction', edit_auction_path(auction), class: "btn btn-secondary" %>
          <%= link_to "Start Auction", start_auction_path(auction), method: :post, class: 'btn btn-primary' %>
        <% elsif auction.visible %>
          <p><%= render 'shared/timer', deadline: @auction.deadline.strftime("%b %d, %Y %H:%M:%S") %></p><br>
          <% unless auction.user == current_user %>
          <p><%= render 'bids/form', bid: @bid, auction: @auction %></p><br>
          <% end %>
          <p>Lances neste leilão: <%= auction.bids.count %></p>
          <p>último lance: <%= auction.bids.last&.value %></p>
        <% end %>
  </div>
  </div>
 </div>

