<div class="container">
  <div class="card-show my-3 py-5">
    <div class="row">
      <div class="col-md-6 text-center align-self-center" style="width: 494px; height: 575px;">
      <% if auction.photos.attached? %>
        <%= cl_image_tag auction.photos.first.key, height: 605, width: 487, crop: :fill, class: 'img-show'  %>
      <% end %>
      </div>
      <div class="col-md-6 info">
        <div class="row title">
          <div class="col text-center">
            <h2><%= auction.name %></h2>
            <hr>
            <p><%= auction.description %></p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
        <h5>Initial Price</h5>&nbsp;<%= "US$#{auction.min_price},00" %>
        </div>

        <div class="d-flex mt-4 justify-content-center">
        <div class="mr-2">
        <% if !auction.visible  && auction.user == current_user %>
          <%= link_to 'Edit Auction', edit_auction_path(auction), class: "btn btn-secondary" %>
        </div>

        <div>
          <%= link_to "Start Auction", start_auction_path(auction), method: :post, class: 'btn btn-primary' %>
        </div>
        </div>

        <% elsif auction.visible %>

          <p><%= render 'shared/timer', deadline: @auction.deadline.strftime("%b %d, %Y %H:%M:%S") %></p><br>
          <div class="d-flex justify-content-center">
          <p>Current Bids: <%= auction.bids.count %> &nbsp; Last Bid: US$<%= auction.bids.last&.value %></p>
          </div>
          <p><%= render 'bids/form', bid: @bid, auction: @auction %></p><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
