<!DOCTYPE html>
<html>
  <head>
    <title>MarketplaceRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>

      <!-- Grid container -->

      <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #2E2D4D">
      <div class="footer-links fa-2x">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>

      <div class="footer-copyright">
        <a class="text-dark" href="/">Auction Figures - Copyright</a>
      </div>
    </div>

      <!-- Copyright -->

    </footer>
    <!-- Footer -->

  </body>
</html>
